@font-face {
    font-family: "Open Sans Condensed";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("OpenSansCondensed-Light.ttf");
}
@font-face {
    font-family: "Open Sans Condensed";
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("OpenSansCondensed-LightItalic.ttf");
}
@font-face {
    font-family: "Open Sans Condensed";
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("OpenSansCondensed-Bold.ttf");
}